<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BeMatch.</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<true/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Your camera are used to take profile picture.</string>
	<key>NSContactsUsageDescription</key>
	<string>Your contacts are used to find friends and uploaded to a server.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Your Photo Library are used to select profile picture.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>If you want to talk about product discuss</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>👋 Talk to CEO!</string>
			<key>UIApplicationShortcutItemType</key>
			<string>talk-to-founder</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>If you want to talk about development discuss</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>👨🏻‍💻 Talk to Developer</string>
			<key>UIApplicationShortcutItemType</key>
			<string>talk-to-developer</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Tell us about any glitches or improvements!</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>🥺 Contact us</string>
			<key>UIApplicationShortcutItemType</key>
			<string>/</string>
		</dict>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>Cover</string>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>endpointURL</key>
	<string>https://bematch-server-fvkngnom3a-an.a.run.app/graphql</string>
</dict>
</plist>
