<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fr</string>
		<string>ko</string>
		<string>ja</string>
		<string>vi</string>
	</array>
	<key>CFBundleName</key>
	<string>TenMatch</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.58.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<true/>
	<key>FacebookAppID</key>
	<string>398553079297373</string>
	<key>FacebookClientToken</key>
	<string>c0105ac08c9f2af92ea97f15eebc4387</string>
	<key>FacebookDisplayName</key>
	<string>BeMatch.</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use your activity data to show you personalized ads that match your interests.</string>
	<key>PRODUCTS</key>
	<array>
		<string>app.tenmatch.ios.production.subscription.pro.1week</string>
		<string>app.tenmatch.ios.production.subscription.pro.1month</string>
		<string>app.tenmatch.ios.production.subscription.pro.3month</string>
		<string>app.tenmatch.ios.production.subscription.pro.6month</string>
		<string>app.tenmatch.ios.production.subscription.pro.1year</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>If you want to talk about product discuss</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>👋 Talk to CEO!</string>
			<key>UIApplicationShortcutItemType</key>
			<string>talk-to-founder</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>If you want to talk about development discuss</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>👨🏻‍💻 Talk to Developer</string>
			<key>UIApplicationShortcutItemType</key>
			<string>talk-to-developer</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Tell us about any glitches or improvements!</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>🥺 Contact us</string>
			<key>UIApplicationShortcutItemType</key>
			<string>/</string>
		</dict>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>BackgroundColor</string>
		<key>UIImageName</key>
		<string>Logo</string>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>apple-app-id</key>
	<string>6502700423</string>
	<key>apps-flyer-dev-key</key>
	<string>ArrQmb3aHuS47UnotusTAe</string>
	<key>endpointURL</key>
	<string>https://tenmatch-server-fvkngnom3a-an.a.run.app/graphql</string>
</dict>
</plist>
