.DS_Store
**/.build
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
**/*/Secrets.swift
**/*/GoogleService-Info.plist
SourcePackages
**/*/apollo-ios-cli