name: Auto Assign

on:
  pull_request:
    types: opened

permissions:
  pull-requests: write
  repository-projects: read

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    steps:
      - name: Set GitHub assignees
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh pr edit ${{ github.event.number }} --add-assignee ${{ github.actor }} --repo ${{ github.repository }}
